In [54]:
import xlrd
import pandas as pd

In [39]:
# source: http://seriestoriche.istat.it/index.php?id=1&no_cache=1&tx_usercento_centofe%5Bcategoria%5D=3&tx_usercento_centofe%5Baction%5D=show&tx_usercento_centofe%5Bcontroller%5D=Categoria&cHash=ac047678dfcd1a32f2e1ae225122c17e
book = xlrd.open_workbook(filename="raw/matrimoni.xls")
# convert to pd 
xs = pd.ExcelFile(book, engine='xlrd')
# check sheet names
xs.sheet_names

['Tavola 3.3', 'Tavola 3.3 (segue 1)', 'Tavola 3.3 (segue 2)']

In [55]:
# convert to df the last sheet
df = xs.parse(xs.sheet_names[ -1 ], header=None, skiprows=8)
df = df.drop([ 3, 4, 5, 6, 7, 8 ], axis=1)
df = df.drop([ 34, 35, 36 ])
df.columns = [ 'date','# marriages', 'marriages 1000 persons' ]
df.set_index('date', inplace=True)
df.head()

     # marriages  marriages 1000 persons
date
1981      316953                5.609621
1982      312486                5.526466
1983      303663                5.368478
1984      300889                5.318248
1985      298523                5.274904

In [61]:
# find average and sd on 1000 persons
stats = pd.DataFrame({'mean_marriages': [df['marriages 1000 persons'].mean()],
                      'std_marriages': [df['marriages 1000 persons'].std()]
                     })

In [63]:
stats.to_csv("data/marriages_stats.csv", header=True, index=None)